@model VmMessage
@{
    ViewData["Title"] = "StartChat";
}

<div>
    <form id="form1" runat="server">
        <div>
        </div>
        <uc1:ctlChatBox ID="ctlChatBox1" runat="server" />
    </form>
</div>